modules = ["bash", "vue-node-20", "nodejs-20", "web", "python-3.12"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libyaml", "rustc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3000

[[ports]]
localPort = 3003
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3003

[[ports]]
localPort = 6400
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 8008
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 9001
externalPort = 3002

[deployment]
deploymentTarget = "vm"
run = ["bash", "start.sh"]
