import React from 'react'

interface {{Name}}Props {
  {{#Props}}
  {{name}}: {{type}};
  {{/Props}}
}

export default function {{Name}}({ {{PropNames}} }: {{Name}}Props) {
  return (
    <div className="{{ClassName}}">
      <h2>{{Title}}</h2>
      {{Content}}
    </div>
  )
}