Enhanced_Interactive_Context_Browser
LocalLLMConfigurationChatDevOllama
Ollama_Client_for_ChatDev_Integration
PyQt5
Scripts
azure
boto3
chatdev
chatdev_integration
chatdev_launcher
cirq
config
copilot_chatdev_bridge
copilot_enhancement_bridge
cryptography
faiss
google
kubernetes
multi_ai_orchestrator
nusyq_chatdev
qiskit
qiskit_aer
quantum_problem_resolver
quantum_problem_resolver_test
quantum_workflow_automation
repository_compendium_stub
seaborn
streamlit_ace
streamlit_lottie
streamlit_option_menu
tensorflow
